:root {
  --clr-primary-cyan: hsl(180, 66%, 49%);
  --clr-primary-DarkViolet: hsl(257, 27%, 26%);
  --clr-secondary-Red: hsl(0, 87%, 67%);
  --clr-neutral-Gray: hsl(0, 0%, 75%);
  --clr-neutral-GrayishViolet: hsl(257, 7%, 63%);
  --clr-neutral-VeryDarkBlue: hsl(255, 11%, 22%);
  --clr-neutral-VeryDarkViolet: hsl(260, 8%, 14%);
  --fs-body: 1.2rem;
  --ff-body: "Poppins", sans-serif;
  --fw-semibold: 500;
  --fw-bold: 700;
}

.dyn-div{
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: .5rem;
    transform: translateY(-45%);
    margin-block: 1rem;
    padding: 1rem;
}

.dyn-right{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.copy-btn{
    background-color: var(--clr-primary-cyan);
    border: none;
    color: whitesmoke;
    font-weight: var(--fw-semibold);
    padding-inline: 1.5rem;
    padding-block: .5rem;
    border-radius: .5rem;
}
.error-div{
  color:var(--clr-secondary-Red);
  margin-block: .5rem;
}
.shorten-url{
    color: var(--clr-primary-cyan);
}

@media screen and (max-width:900px){
    .dyn-div{
        flex-direction: column;
        gap:.5rem;
    }
}
@media screen and (max-width:500px){
    .dyn-div{

        font-size: small;
    }
}